{% extends "base.html" %}
{% load static %}
{% block content %}




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'home:add_category' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="category-name" class="col-form-label">Category Name:</label>
            <input type="text" class="form-control" id="category-name" name='title'>
          </div>
          <div class="mb-3">
            <label for="fa_img" class="col-form-label">Fas Fa Image:</label>
            <input type="text" class="form-control" id="fa_img" name='fa_image'>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



<div class="container">
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="nav-link" href="{% url 'home:index' %}"><i class="fas fa-plus"></i>
    All
  </a>
  {% for category, items in items_by_category.items %}
  <a class="nav-link" href="{% url 'home:category_detail' category.id category.title %}"><i class="fas fa-{{category.fa_image}}"></i>
    {{category.title}}
  </a>
  {% endfor %}
  </div>

  <div id="main">
    <div class="d-flex justify-content-between">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Category</span>
      {% if user.is_authenticated %}
      <button type="submit" class="btn btn-danger px-3 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Category
      </button>
      {% endif %}
    </div>
    <hr>
    <div class="row row-cols-2 row-cols-md-3 g-4">
      
      {% for product in products %}
      <div class="col-md-3">
        <div class="card h-100">
          <img src="{{product.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            
            <form method="POST" action="{% url 'home:add_qty' %}">
            {% csrf_token %}
            <div class="d-flex mb-4" style="max-width: 200px">
              
              
              <input type="hidden" name="product_id" value="{{product.id}}" class="prod_id">
              <button type="submit" name="decrement" class="btn btn-danger px-3 me-2">
                <i class="fas fa-minus"></i>
              </button>
              <div class="form-outline">
                <input min="0" name="added_qty" value="0" type="number" class="form-control" />
                <label class="form-label" for="form1">Quantity +</label>
              </div>
              
              <button type="submit" name="increment" class="btn btn-success px-3 ms-2">
                <i class="fas fa-plus"></i>
              </button>
              {% comment %} {% if user.is_authenticated %}
              <div class="card-title">
                <button type="submit" class="btn btn-primary px-3 ms-2">Add</button>
              </div>
              {% endif %} {% endcomment %}
            </div>
            
            </form>
            <h6 class="card-title">Total Quantity: {{product.quantity}}</h5>
              <h6 class="card-title">Price: {{product.price}}</h5>
                <h6 class="card-title">Total Price: {{product.total_price}}</h5>
                  {% comment %} <form class="row g-3">
                    <div class="col-md-3">
                      <label for="exampleFormControlInput1" class="form-label">{{product.quantity}}</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="exampleFormControlInput1" class="form-label">{{product.price}}</label>
                      <input type="text" class="form-control">
                    </div>
                  </form>{% endcomment %}

                  <a href="{% url 'home:update_stocks' product.id %}" class="btn btn-primary">Edit</a>
                  
                  {% if user.is_authenticated %}
                  <a href="{% url 'home:delete-stock' product.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                  {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
</div>
{% endblock %}